@(city: String, results: Seq[models.Forecast])(implicit lang: Lang)

    @if(results.nonEmpty) {
        <h4>@Messages("index.result.title", results.size, city)</h4>

        <ul class="unstyled">
            @results.map { forecast =>
                <li>
                    @forecast.date.format(Messages("index.date"))
                    @forecast.weather.map { weather =>
                        <strong>@weather.description</strong>
                    }
                    @Messages("index.temperature") @forecast.temp.day.toInt°
                </li>
            }
        <ul>
    }