@(searchForm: Form[Search], results: Seq[models.Forecast] = Seq())(implicit lang: Lang)

    @main(Messages("index.title")) {
        <div class="row">
            <div class="span12">
                <h1>@Messages("index.title")</h1>
                <p>@Messages("index.text")</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                @search(searchForm)
            </div>

            <div class="span6">
                @forecast(searchForm.value.map(_.city).getOrElse(""), results)
            </div>
        </div>
    }