@(searchForm: Form[Search])(implicit lang: Lang)

<h4>@Messages("index.form.title")</h4>

<form action="@routes.Application.submit()" method="POST" class="form-search">

    <input type="text"
           name="city"
           value="@searchForm.forField("city")(_.value)"
           placeholder="@Messages("index.form.search.placeholder")">

    <button class="btn btn-primary">
        @Messages("index.form.submit")
    </button>

    @searchForm.errors.map { error =>
        <div class="error">@Messages(error.message)</div>
    }

</form>